.container {
    background-color:rgba(255,255,255, 0.15);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255, 0.2);
    padding: 50px 40px 40px;
    border-radius: 10px;
}
.form-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 400px;
}
.container h1 {
    text-align: center;
    font-size: 25px;
    color: #fff;
}
.container .input-field {/*div pai*/
  
    position:relative;  /*a div pai como relative, podemos posicionar o icon como absolute*/
    width:100%;
    height: 50px;
    /* margin: 30px auto; */
}
.input-field input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255,255,255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px;
}
.input-field input::placeholder {
    color:#fff;
}
.input-field input:focus {
    border-color: #3498db;
    outline: none; /* remove o contorno padrão */
}

.input-field .icon {
    position: absolute;
    color: #fff;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}
.container .recall-forget {
    display: flex;
    justify-content: space-between;
    gap:30px;
    font-size: 12px;
}

.recall-forget label {
    color: #fff;
}

 .input-checkbox {
    margin-right: 5px;
 }
.recall-forget a , .signup-link a{
    color: #fff;
    text-decoration: none;
}
.recall-forget a:hover , .signup-link a:hover{
    text-decoration: underline;
    color: #3498db;
}

.container button {
    width:100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-shadow: none;
}
.container button:hover{
    background-color: #3498db;
    color:#fff;
}
.container .signup-link {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 10px;
    text-shadow: none;
}
/* Media Queries para tornar responsivo */
@media (max-width: 768px) {
    .container {
        width: 70%; /* Reduz a largura para 80% da largura da tela */
        padding: 20px;
    }

    .input-field input {
        padding: 15px 30px; /* Ajusta o padding do input */
    }

    .container button {
        font-size: 14px; /* Reduz o tamanho da fonte do botão */
    }
}

    @media (max-width: 480px) {
    .container {
        width: 70%; /* Reduz ainda mais a largura para telas menores */
        height: 400px;
        
    }

    .form-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
    }

    .input-field input {
        padding: 12px 25px; /* Ajusta o padding do input para telas menores */
        width: 50%;
        height: 70%;
        gap: 10px;
    }
    
    /* .input-field .icon {
        width: 3%;
        right: 10px;
        /* /* top: 35%;
    } */
    .container button {
        width: 50%;
        height: 10%;
    }
}